@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">Extraverted</button>
                        </td>
		                <td>
                            <button type="button" class="btn btn-outline-primary">Introverted</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Logical</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Ethical</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Sensing</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Intuitive</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Rational</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Irrational</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Democratic</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Aristocratic</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Constructivist</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Emotivist</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Tactical</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Strategic</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Static</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Dynamic</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Positivist</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Negativist</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Process</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Result</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Merry</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Serious</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Asking</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Declaring</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Carefree</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Farsighted</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Yielding</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Obstinate</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Judicious</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Decisive</button>
                        </td>
                    </tr>
                </table>
            </td>
			<td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INTj | Robespierre</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ENTp | Don Quixote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INFp | Yesenin</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ESTj | Stirlitz</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ESFp | Napoleon</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INTp | Balzac</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ENFj | Hamlet</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ISTj | Maxim Gorky</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ISFp | Dumas</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ENTj | Jack London</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INFj | Dostoevsky</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ESTp | Zhukov</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ISFj | Dreiser</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ENFp | Huxley</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ISTp | Gabin</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ESFj | Hugo</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@* | Code | Name        |
| ---- | ----------- |
| INTj | Robespierre |
| ENTp | Don Quixote |
| INFp | Yesenin     |
| ESTj | Stirlitz    |
| ESFp | Napoleon    |
| INTp | Balzac      |
| ENFj | Hamlet      |
| ISTj | Maxim Gorky |
| ISFp | Dumas       |
| ENTj | Jack London |
| INFj | Dostoevsky  |
| ESTp | Zhukov      |
| ISFj | Dreiser     |
| ENFp | Huxley      |
| ISTp | Gabin       |
| ESFj | Hugo        | *@
