@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">Feature</button>
                        </td>
		            </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Feature</button>
                        </td>
                    </tr>
                </table>
            </td>
			<td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INTj | Robespierre</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ENTp | Don Quixote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">INFp | Yesenin</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">ESTj | Stirlitz</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ESFp | Napoleon</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">INTp | Balzac</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ENFj | Hamlet</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ISTj | Maxim Gorky</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ISFp | Dumas</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ENTj | Jack London</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">INFj | Dostoevsky</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ESTp | Zhukov</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ISFj | Dreiser</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ENFp | Huxley</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ISTp | Gabin</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">ESFj | Hugo</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@* | Code | Name        |
| ---- | ----------- |
| INTj | Robespierre |
| ENTp | Don Quixote |
| INFp | Yesenin     |
| ESTj | Stirlitz    |
| ESFp | Napoleon    |
| INTp | Balzac      |
| ENFj | Hamlet      |
| ISTj | Maxim Gorky |
| ISFp | Dumas       |
| ENTj | Jack London |
| INFj | Dostoevsky  |
| ESTp | Zhukov      |
| ISFj | Dreiser     |
| ENFp | Huxley      |
| ISTp | Gabin       |
| ESFj | Hugo        | *@
