@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Версия
    <mark>Версия</mark>
    <div class="active">Версия</div>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-primary active">Первый</button>
        <button type="button" class="btn btn-outline-primary">Второй</button>
        <button type="button" class="btn btn-outline-primary active">Третий</button>
    </div><br/>
    <button type="button" class="btn btn-outline-primary active">Третий</button>

    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">Третий</button>
                        </td>
		            </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Третий</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Третий</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Третий</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Третий</button>
                        </td>
                    </tr>
                </table>
            </td>
			<td>
                <table>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Robespierre</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Don Quixote</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Yesenin</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary">Stirlitz</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-outline-primary active">Napoleon</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@* | Code | Name        |
| ---- | ----------- |
| INTj | Robespierre |
| ENTp | Don Quixote |
| INFp | Yesenin     |
| ESTj | Stirlitz    |
| ESFp | Napoleon    |
| INTp | Balzac      |
| ENFj | Hamlet      |
| ISTj | Maxim Gorky |
| ISFp | Dumas       |
| ENTj | Jack London |
| INFj | Dostoevsky  |
| ESTp | Zhukov      |
| ISFj | Dreiser     |
| ENFp | Huxley      |
| ISTp | Gabin       |
| ESFj | Hugo        | *@
